body {
  margin: 0;
  background-color: #fff;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.form-container {
  background-color: #fff;
  padding: 1px;
  height: auto;

  margin-left: 10rem;
  margin-top: 10vh;
}
.form {
  background-color: #ffffff;
  border: 2px solid rgb(199, 193, 193);
  width: 30%;
  height: auto;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-radius: 0 25px 25px 25px;
  margin: 1rem;
}
.form input {
  width: 80%;
  margin: 0.4rem;
  font-size: 18px;
  outline: 0;
  border-radius: 25px;
  border: 2px solid #c2baba;
  padding: 0.4rem;
  box-sizing: border-box;
}

#confirm {
  background-color: rgb(168, 222, 61);
  width: 9vw;
  border: 2px solid rgb(168, 222, 61);
}
#confirm:hover {
  background-color: #80ca48;
  cursor: pointer;
}
#cancel {
  background-color: rgb(233, 35, 35);
  width: 9vw;
  border: 2px solid rgb(233, 35, 35);
  color: #fff;
}

#cancel:hover {
  background-color: rgb(221, 15, 15);
  cursor: pointer;
}

/* .form-container {
  background-color: rgb(245, 240, 245);
  height: 100vh;
  width: 100%;
  padding: 1px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  width: max-content;
  height: auto;
  background-color: rgb(222, 230, 230);
  margin: 2rem auto;
  border-radius: 25px;
  padding: 1rem;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.inp-container {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: start;
}
.form input {
  margin: 0.2rem;
  border-radius: 20px;
  border: none;
  padding: 0.4rem;
  font-size: 16px;
  outline: none;
}
#accHolder {
  width: 25vw;
}
.btns {
  display: flex;
  justify-content: space-between;
}
#confirm {
  background-color: rgb(168, 222, 61);
  width: 10vw;
}
#cancel {
  background-color: rgb(239, 29, 29);
  width: 10vw;
}
*/
.loading {
  background-color: rgb(173, 246, 240);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*  */

.wrapper {
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(173, 246, 240);
}
.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}
.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill 0.4s ease-in-out 0.4s forwards,
    scale 0.3s ease-in-out 0.9s both;
}
.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}
@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}

.fail-icon {
  font-size: 44px;
  color: #ea2813;
}

.header {
  height: 8vh;
  position: fixed;
  width: 100vw;
  text-align: left;
  display: flex;
  align-items: center;
  background-color: #c2baba;
  padding-left: 2rem;
  top: 0;
}

@media all and (max-width: 600px) {
  .form-container {
    margin-left: 2rem;
  }
  .form {
    /* width: 60vw; */
    width: auto;
    height: auto;
  }
  .form input {
    width: 90%;
    font-size: 14px;
    background-color: transparent;
    border: 1px solid;
    /* border-bottom: 2px solid; */
  }
  .form label {
    text-align: left;
  }
  .form #accHolder {
    width: 90%;
  }
  .btns {
    width: 100%;
    display: flex;
  }
  #confirm {
    width: 43%;
  }
  #cancel {
    width: 43%;
  }
}
